[user]
	name = Erich Schroeter
	email = erich.schroeter@gmail.com
[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
[color]
	ui = auto
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
